*.csproj
*.sln
Evocative Level Design/Library/
Evocative Level Design/Temp/
MoodRooms/Library/
MoodRooms/Temp/StagingArea/4.24_8am_Data/Mono/etc/mono/mconfig/config.xml
MoodRooms/Temp/UnityTempFile-91957acfb53c82147ab039b79f805fee
MoodRooms/Temp/
